.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-block{
    @apply block text-center w-full;
}
.btn-primary{
    @apply bg-blue-500 text-white;
}

.btn-primary:hover{
    @apply bg-blue-700;
}
.btn-success{
    @apply bg-green-500 text-white;
}

.btn-success:hover{
    @apply bg-green-700;
}
.btn-danger{
    @apply bg-red-500 text-white;
}

.btn-danger:hover{
    @apply bg-red-700;
}

.bg-success {
    --tw-bg-opacity: 1;
    background-color: rgb(76 175 80 / var(--tw-bg-opacity));
  }
  
  .bg-success-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(59 135 62 / var(--tw-bg-opacity));
  }
  
  .bg-success-light {
    --tw-bg-opacity: 1;
    background-color: rgb(237 247 237 / var(--tw-bg-opacity));
  }
  